 $white: rgba(255, 255, 255, 0.9);
 $black: #161616;
 $yellow: #f29873;
 .underlined {
     color: $black;
     flex: 1;
     font-size: 1.6em;
     line-height: 1.2;
     text-decoration: none;
     background-image: linear-gradient(to right, $yellow 0, $yellow 100%);
     background-position: 0 1.2em;
     background-size: 0 100%;
     background-repeat: no-repeat;
     transition: background 0.5s;
     letter-spacing: 3px;

     &:hover {
         background-size: 100% 100%;
     }

     &--thin {
         background-image: linear-gradient(to right, $yellow 0, $yellow 100%);
     }

     &--thick {
         background-position: 0 -0.3em;
     }

     &--offset {
         background-position: 0 0.2em;
         box-shadow: inset 0 -0.5em 0 0 $white;
     }

     &--gradient {
         background-position: 0 -0.1em;
         background-image: linear-gradient(to right, $yellow 0, lightgreen 100%);
     }

     &--reverse {
         background-position: 100% -0.1em;
         transition: background 1s;
         background-image: linear-gradient(to right, $yellow 0, $yellow 100%);
     }
 }
 .link {
     color: #f9be31;
     text-decoration: none;
     box-shadow: 0 1px 0 currentcolor;
     font-weight: 600;

     i {
         display: inline-block;
         margin-left: 0.25rem;
     }

     &:hover,
     &:focus {
         box-shadow: 0 3px 0 currentcolor;
     }
 }